$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #f5a637;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$font-family-sans-serif: "Lato", sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$color: #cddc39;
$background-color: #1d1d1d;

*, :after, :before {
    box-sizing: border-box
}

article, aside, footer, header, main, nav, section {
    display: block
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 300!important;
    line-height: 1.7;
    margin: 0;
    text-align: left;
    color: $gray;
    background-color: $white;
    position: relative;
}

[tabindex="-1"]:focus {
    outline: 0 !important
}

hr {
    overflow: visible;
    box-sizing: content-box;
    height: 0
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    color: $dark;
}

p {
    margin-top: 0;
    margin-bottom: 0.3rem
}

dl, ol, ul {
    margin-top: 0
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0
}

ul.no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

a {
    text-decoration: none;
    background-color: transparent
}

a, a:hover {
    color: $white;
}

a:hover {
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

.pb-12, .py-12 {
    padding-bottom: 6rem!important;
}

.pt-12, .py-12 {
    padding-top: 6rem!important;
}

section {
    position: relative;
}

table {
    th {
        background-color: $background-color;
        color: $color;
    }
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.title, .subtitle {
    font-weight: 300;
}

.title {
    font-size: 3rem;
}

.subtitle {
    font-size: 1.8rem;
}

@media (min-width: 992px) {
    .pb-lg-15, .py-lg-15 {
        padding-bottom: 12.5rem!important;
    }
}

@media (min-width: 992px) {
    .pt-lg-15, .py-lg-15 {
        padding-top: 12.5rem!important;
    }
}

// HEADER
header {
    #nav {
        background: transparent !important;
        transition: 0.75s ease;
    }

    #nav.navbar-dark {
        background: $background-color !important;
    }

    .navbar-brand, .navbar-brand:hover, .navbar-dark .navbar-brand, .navbar-dark .navbar-brand:hover {
        color: $color;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler svg {
        font-size: 2.5rem;
        color: $white;
    }

    .section-hero {
        height: 100vh;
        background-position: 50% 10%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        
        .row {
            height: 100%;
        }
    }
}

// FOOTER
footer {
    min-height: 300px;
    background-color: $background-color;

    h5 {
        font-size: .75rem;
        font-weight: 700;
        margin-top: 2rem;
        margin-bottom: 1rem;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $color;
    }

    p, a, li, .copyright {
        color: #777;
    }

    li {
        list-style-type: none;
    }

    ul {
        padding: unset;
    }

    ul li svg {
        padding-right: 5px;
    }
}

// CAROUSEL
.carousel {
    background: #EEE;
    .carousel-image {
        display: block;
        height: 300px;
        /* set min-width, allow images to set cell width */
        min-width: 150px;
        max-width: 100%;
        margin-right: 10px;
        /* vertically center */
        top: 50%;
        transform: translateY(-50%)
    }
}

// SECTION
.section__preheading {
    font-family: Lato,sans-serif;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.section__heading {
    margin-bottom: 2.5rem;
}

.section__subheading {
    margin-bottom: 2.5rem;
}

.section__heading+.section__subheading {
    margin-top: -1.5rem;
}

// HOME
.main-home {
    // DISCOVER
    .section-discover__heading {
        color: #333333;
        font-weight: 600;
        margin-bottom: .8rem;
    }
    
    .section-discover__description {
        font-size: 1.1rem;
        line-height: 1.5;
        position: relative;
        color: #333333;
    }
    
    .section-discover__description::before {
        display: block;
        width: 50px;
        margin: 1rem 0;
        content: "";
        border-top: 5px solid #cddc39;
    }
    
    .section-discover__filler::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background: linear-gradient(#fff, hsla(0, 0%, 100%, .1) 30%, transparent), linear-gradient(to bottom right, #fff 0, #fff 15%, transparent 50%, transparent);
    }
    
    .section-discover__filler {
        height: 100vh;
        min-height: 500px;
        background: url(https://images7.alphacoders.com/101/thumb-1920-1011523.jpg) no-repeat 50%/cover;
        padding: 6rem 0;
    }

    // ABOUT
    .section-about__filler::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background: linear-gradient(#fff, hsla(0, 0%, 100%, .1) 40%, transparent), linear-gradient(to bottom, #fff 0, #fff 15%, transparent 50%, transparent);
    }
    
    .section-about__filler {
        height: 100vh;
        min-height: 500px;
        background: url(https://www.eco.ca/wp-content/uploads/Working-home.jpg) no-repeat 50%/cover;
        padding: 6rem 0;
    }
}

// DISCOVER
.main-discover {
    // DISCOVER
    .section-discover__heading {
        color: #333333;
        font-weight: 600;
        margin-bottom: .8rem;
    }
    
    .section-discover__description {
        font-size: 1.1rem;
        line-height: 1.5;
        position: relative;
        color: #333333;
    }
    
    .section-discover__description::before {
        display: block;
        width: 50px;
        margin: 1rem 0;
        content: "";
        border-top: 5px solid #cddc39;
    }
    
    .section-discover__filler::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background: linear-gradient(#fff, hsla(0, 0%, 100%, .1) 30%, transparent), linear-gradient(to bottom right, #fff 0, #fff 15%, transparent 50%, transparent);
    }
    
    .section-discover__filler {
        height: 100vh;
        min-height: 500px;
        background: url(https://images7.alphacoders.com/101/thumb-1920-1011523.jpg) no-repeat 50%/cover;
        padding: 6rem 0;
    }
}

// ABOUT
.main-about {
    // ABOUT
    .section-about__description {
        font-size: 1.1rem;
        line-height: 1.5;
        position: relative;
        color: #333333;
    }
    
    .section-about__description::before {
        display: block;
        width: 50px;
        margin: 1rem 0;
        content: "";
        border-top: 5px solid #cddc39;
    }
    .section-about__filler::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background: linear-gradient(#fff, hsla(0, 0%, 100%, .1) 40%, transparent), linear-gradient(to bottom, #fff 0, #fff 15%, transparent 50%, transparent);
    }
    
    .section-about__filler {
        height: 100vh;
        min-height: 500px;
        background: url(https://www.eco.ca/wp-content/uploads/Working-home.jpg) no-repeat 50%/cover;
        padding: 6rem 0;
    }
}